.section_reset_password{
 display: flex;
 flex-direction: column;
 margin-top: 0px;
 align-items: center;
 justify-content: center;
margin-bottom: 50px;

}
table{
  margin-bottom: 170px;
}
h1{
  color: #003366;
  text-align: center;
}
td{
  margin-top: 30px;
  margin-bottom: 30px;
}
label{
  color: #003366;
  margin-right: 30px;
}
p{
  color: #003366;
  text-align: center;
}
.indent{
  margin-bottom: 200px;
}
.butn-signup {
  float: left;
  background-color: #003366;
  font-weight: bolder;
  width: 100%;
  height: 30px;
	border: none;
	border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color:#dddfe6;
    font-size: 12px;
      text-decoration: none;
}

.butn-instructions{
  display: flex;
  margin-top: 0px;
  align-items: center;
  justify-content: center;

}
