.slider {
  display: flex;
  flex-wrap: wrap;
}
.slider__item {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
   color: #fff;
  font-size: 17px;
  min-height: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 30px;
box-shadow: 0px 8px 8px  rgb(80, 80, 80);
  border-radius: 10px;
}
.slider__item:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(6, 64, 105, 0.8);
  transition: all 1.5s;
}

.slider__image {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
}

.slider__item:hover:before {
  background: rgba(204, 204, 204, 0.50);
}

.slider__nav--left {
  width: 32px;
  height: 32px;
  border: none;
  background: transparent url('left.svg') no-repeat center;
  margin-right: 15px;
  cursor: pointer;
  outline: none; /*убрать контур*/
}

.slider__nav--right {
  width: 32px;
  height: 27px;
  border: none;
  cursor: pointer; /*чтобы стрелочка менялась на пальчик*/
  outline: none; /*убрать контур*/
  background: transparent url('right.svg') no-repeat center;
}
.slider__nav--left span,
.slider__nav--right span {
  display: none;
}
