
html, body * { box-sizing: border-box; font-family: 'Muli',sans-serif;}

body {
  background:
    url('fon.png') no-repeat center center fixed;
  background-size: cover;
}

.container1 {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 100px;
}

.frame {
  height: 900px;
  width: 430px;
  background:
    linear-gradient(
    rgba(221, 223, 230,0.75),
    rgba(0, 51, 102,0.75),
    rgba(0, 51, 102,0.95));
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  border-top: solid 1px rgba(255,255,255,.5);
  border-radius: 5px;
  box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
  overflow: hidden;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.nav1 {
  width: 100%;
  height: 100px;
  padding-top: 40px;
  opacity: 1;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}


li {
  padding-left: 10px;
  font-size: 18px;
  display: inline;
  text-align: left;
  text-transform: uppercase;
  padding-right: 10px;
  color: #ffffff;
}

.signup-active a {
  padding-bottom: 10px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: solid 2px #003366;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  cursor: pointer;
}

.form-signup {
  width: 430px;
  height: 175px;
	font-size: 16px;
	font-weight: 300;
  padding-left: 37px;
  padding-right: 37px;
  padding-top: 55px;
  -webkit-transition: opacity .5s ease, -webkit-transform .5s ease;
  transition: opacity .5s ease, -webkit-transform .5s ease;
  transition: opacity .5s ease, transform .5s ease;
  transition: opacity .5s ease, transform .5s ease, -webkit-transform .5s ease;
}

.frame-end{
    margin-top: 135px;
border-top: solid 1px rgba(255,255,255,.3);
      text-align: center;

}
.forget{
  line-height: 35px;
color:#dddfe6;
font-size: 12px;
    text-decoration: none;
}
.login
{color:#dddfe6;
  font-size: 12px;
    text-decoration: none;

}
.form-signup input {
  color: #ffffff;
  font-size: 13px;
}

.form-styling {
  width: 100%;
  height: 35px;
	padding-left: 15px;
	border: none;
	border-radius: 20px;
  margin-bottom: 20px;
  background: rgba(255,255,255,.2);
}

label {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 13px;
  padding-left: 15px;
  padding-bottom: 10px;
  color: rgba(255,255,255,.7);
  display: block;
}

:focus {outline: none;
}


.butn-signup {
  float: left;
  background-color: #003366;
  padding-top: 8px;
  width: 100%;
  height: 35px;
	border: none;
	border-radius: 20px;
  margin-top: -8px;
  color:#dddfe6;
    font-size: 12px;
      text-decoration: none;
}

.butn-animate {
  float: left;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  color: rgba(255,255,255, 1);
  padding-top: 8px;
  width: 100%;
  height: 35px;
	border: none;
	border-radius: 20px;
  margin-top: 23px;
  background-color: rgba(16,89,255, 1);
  left: 0px;
  top: 0px;
  -webkit-transition: all .5s ease, top .5s ease .5s, height .5s ease .5s, background-color .5s ease .75s;
  transition: all .5s ease, top .5s ease .5s, height .5s ease .5s, background-color .5s ease .75s;
}



 a.butn-signup:hover {
    cursor: pointer;
    background-color: #c94036;
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
}





/* refresh button styling */

#refresh {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ffffff;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.1);
    padding: 13px 0 0 13px;
}

.refreshicon {
    fill: #c94036;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: fill .25s ease, -webkit-transform .25s ease;
    transition: fill .25s ease, -webkit-transform .25s ease;
    transition: fill .25s ease, transform .25s ease;
    transition: fill .25s ease, transform .25s ease, -webkit-transform .25s ease;
}

.refreshicon:hover {
  cursor: pointer;
  fill: #c94036;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
