{% extends 'base.html' %}
{% load static %}


{% block title %}Home{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style_background.css' %} " >
<link rel="stylesheet" href="{% static 'css/style_home.css' %} " >
<h2><span class="subtitle">Enjoy your trip</span></h2>
     <p class="description">Get access to 80+ Kharkiv attractions including thematic excursion. Huge Saving vs. gate prices.</p>

<div class = "attractions">
     <div class="slider owl-carousel">
         <div class="slider__item">
             <img src="{% static 'images/Metal.png' %}" alt="" class="slider__image">
           <div class="slider__year">1926</div>
           <h3 class="slider__title ">Metalist Stadium</h3>
           <div class="slider__rating">
             <div class="span slider__rating-label">Address</div>
           </div>
         </div>
         <div class="slider__item">
             <img src="{% static 'images/PG.jpg' %}" alt="" class="slider__image">
           <div class="slider__year">1907</div>
           <h3 class="slider__title ">Gorky Park </h3>
           <div class="slider__rating">
             <div class="span slider__rating-label">Address</div>
           </div>
         </div>
       <div class="slider__item">
           <img src="{% static 'images/Hatob.jpg' %}" alt="" class="slider__image">
         <div class="slider__year">1925</div>
         <h3 class="slider__title ">The scenes of Hnatoba</h3>
         <div class="slider__rating">
           <div class="span slider__rating-label">Address</div>
         </div>
       </div>
       <div class="slider__item">
           <img src="{% static 'images/Delfi.png' %}" alt="" class="slider__image">
         <div class="slider__year">2009</div>
         <h3 class="slider__title ">Kharkov dolphinarium </h3>
         <div class="slider__rating">
           <div class="span slider__rating-label">Address</div>
         </div>
       </div>
       <div class="slider__item ">
           <img src="{% static 'images/sobor.png' %}" alt="" class="slider__image">
         <div class="slider__year">1901</div>
         <h3 class="slider__title">Blagoveshchensky <br>cathedral</h3>
         <div class="slider__rating">
           <span class="span slider__rating-label">Address</span>
         </div>
       </div>
       <div class="slider__item">
           <img src="{% static 'images/Erm.jpg' %}" alt="" class="slider__image">
         <div class="slider__year">2008</div>
         <h3 class="slider__title ">ErmilovCenter</h3>
         <div class="slider__rating">
           <div class="span slider__rating-label">Address</div>
         </div>
       </div>
       <div class="slider__item">
           <img src="{% static 'images/planet.jpg' %}" alt="" class="slider__image">
         <div class="slider__year">1957</div>
         <h3 class="slider__title ">Planetarium</h3>
         <div class="slider__rating">
           <div class="span slider__rating-label">Address</div>
         </div>
       </div>
       <div class="slider__item">
           <img src="{% static 'images/Karazin.jpg' %}" alt="" class="slider__image">
         <div class="slider__year">1933</div>
         <h3 class="slider__title "> University named  Karazin</h3>
         <div class="slider__rating">
           <div class="span slider__rating-label">Address</div>
         </div>
       </div>
     </div>
</div>

{% endblock %}
