{% extends 'base.html' %}
{% load static %}


{% block title %}Home{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style_background.css' %} " >
<link rel="stylesheet" href="{% static 'css/style_home.css' %} " >
<h2><span class="subtitle">Enjoy your trip</span></h2>
     <p class="description">Get access to 80+ Kharkiv attractions including thematic excursion. Huge Saving vs. gate prices.</p>

<div class = "attractions">
     <div class="slider owl-carousel">

       {%for sight in sights %}
         <div class="slider__item">
             <img src="{{sight.img.url}}" alt="" class="slider__image">
           <div class="slider__year">{{sight.year}}</div>
           <h3 class="slider__title ">{{sight.name_sight}}</h3>
           <div class="slider__rating">
             <div class="span slider__rating-label">{{sight.address}}</div>
           </div>
           
         </div>
         {% endfor %}

         </div>


       </div>


{% endblock %}
