{% extends 'base.html' %}
{% load static %}


{% block title %}Prices{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/style_prices.css' %}"/><!-- string Prices-->
<link rel="stylesheet" href="{% static 'css/style_buy.css' %}"><!-- string Prices  {{type.get_label_display}}-->
<div class ="section_Prices">

 {%for item in object_list %}
<div class="{{item.type}}" height = "200" width="10" >
<div class = "name_info">{{item.type}}</div>
  <div class = "description_Prices"><p> {{item.desc}} </p></div>
<div class="day"> {{item.days}} Days</div>
<div class = "price"> {{item.price}} ₴</div>
<div class = "buy">
<a class="gradient-btn_Prices"  href="">Add to basket</a>
<a class="gradient_btn_Prices"  href="">Add to basket</a></div>
</div>
 {% endfor %}


<div class = "section_Prices">
<h2 class="title_review">Trusted by over 3 customers, here's what they have to say</h2>


      <div class="slider owl-carousel">

           <div class="slider__item">
              <h3 class="slider__title ">Exselent! </h3>
              <div class="span slider__rating-label"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <span id = "dots">...</span><span id = "more">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, .</span></p></div>
      <button id = "bt" onclick="readMore()">More</button>
      <div class="user_name">Davydova Olga</div>
      <div class="slider__year">19.07.2019</div>
            </div>

           <div class="slider__item">
              <h3 class="slider__title ">Exselent! </h3>
              <div class="span slider__rating-label"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, .<span id = "dots1">...</span><span id = "more1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span></p>
      <button id = "bt1" onclick="readMore1()"> More</button></div>
      <div class="user_name">Davydova Olga</div>
      <div class="slider__year">19.07.2019</div>
            </div>
      <div class="slider__item">
              <h3 class="slider__title ">Exselent! </h3>
              <div class="span slider__rating-label"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed .<span id = "dots2">...</span><span id = "more2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. .</span></p>
      <button id = "bt2" onclick="readMore2()"> More</button></div>
      <div class="user_name">Davydova Olga</div>
      <div class="slider__year">19.07.2019</div>
            </div>
      <div class="slider__item">
              <h3 class="slider__title ">Exselent! </h3>
              <div class="span slider__rating-label"><p>Lorem ipsum dolor sit aris nisi ut aliquip ex ea commodo consequat.  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<span id = "dots3">...</span><span id = "more3">Lorem ipsum dolor sit amet, .</span></p></div>
      <button id = "bt3" onclick="readMore3()"> More</button>
      <div class="user_name">Davydova Olga</div>
      <div class="slider__year">19.07.2019</div>
            </div>

</div>

</div>
{% endblock %}
