{% extends 'base.html' %}
{% load static %}


{% block title %}Sight_Detail{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/sight.css' %}" />
<link rel="stylesheet" href="{% static 'css/sight_one.css' %}" />
<div class="block1">
<div class="sight_one"><h1>{{ object.name_sight }}</h1></div>
	<img  width="500" height="300"  src="{{sight.img.url}}"/>
	</div>

	<div class="block2">
<div class = "info1">
	<div class = "block3-year">{{ object.year }}</div>
		<div class = "block3">{{ object.address }}</div>
	<a href="{{ object.link }}"><div class = "block3-site"><p>Web-site</p></div></a>
		</div>

		<div class = "description2">
		{{ object.description }}</div>
		</div>



{% endblock %}
